<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Martin Dostal">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keyword" content="{{ meta_keywords }}">

    <title>{{ title }}</title>
</head>
<body>

        {{ content | raw }}

</body>
</html>
